---
name: Release

on:
  push:
    tags:
      - '*'

jobs:
  linux-build:
    name: Release build on Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get tag name
        uses: dawidd6/action-get-tag@v1
        id: tag
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Lint
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets --all-features
      - name: Formatting check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check -l
      - name: Documentation build
        uses: actions-rs/cargo@v1
        env:
          RUSTDOCFLAGS: -Dwarnings
        with:
          command: doc
          args: --all-features --no-deps --document-private-items
      - name: Debug check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all-targets --all-features
      - name: Debug build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-features
      - name: Tests with debug build
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features
      - name: Release check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all-targets --all-features --release
      - name: Release build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-features --release
      - name: Tests with release build
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features --release
      # - name: Strip + UPX release binary
      #   uses: svenstaro/upx-action@v2
      #   with:
      #     file: target/release/tvrank
      #     strip: true
      - name: Build tarball
        shell: bash
        run: |
          export NAME=tvrank-${{steps.tag.outputs.tag}}-linux
          mkdir $NAME
          cp target/release/tvrank $NAME/tvrank
          cp target/debug/tvrank $NAME/tvrank-debug
          cp LICENSE $NAME/LICENSE
          cp README.md $NAME/README.md
          tar -c -f $NAME.tar.bz2 $NAME
      - name: Upload tarball artifact
        uses: actions/upload-artifact@v2
        with:
          name: tvrank-${{steps.tag.outputs.tag}}-linux.tar.bz2
          path: tvrank-${{steps.tag.outputs.tag}}-linux.tar.bz2

  macos-build:
    name: Release build on MacOS
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get tag name
        uses: dawidd6/action-get-tag@v1
        id: tag
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Lint
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets --all-features
      - name: Formatting check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check -l
      - name: Documentation build
        uses: actions-rs/cargo@v1
        env:
          RUSTDOCFLAGS: -Dwarnings
        with:
          command: doc
          args: --all-features --no-deps --document-private-items
      - name: Debug check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all-targets --all-features
      - name: Debug build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-features
      - name: Tests with debug build
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features
      - name: Release check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all-targets --all-features --release
      - name: Release build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-features --release
      - name: Tests with release build
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features --release
      # - name: Strip + UPX release binary
      #   uses: svenstaro/upx-action@v2
      #   with:
      #     file: target/release/tvrank
      #     strip: true
      - name: Build tarball
        shell: bash
        run: |
          export NAME=tvrank-${{steps.tag.outputs.tag}}-macos
          mkdir $NAME
          cp target/release/tvrank $NAME/tvrank
          cp target/debug/tvrank $NAME/tvrank-debug
          cp LICENSE $NAME/LICENSE
          cp README.md $NAME/README.md
          hdiutil create -format UDZO -srcfolder $NAME $NAME.dmg
      - name: Upload tarball artifact
        uses: actions/upload-artifact@v2
        with:
          name: tvrank-${{steps.tag.outputs.tag}}-macos.dmg
          path: tvrank-${{steps.tag.outputs.tag}}-macos.dmg

  windows-build:
    name: Release build on Windows
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get tag name
        uses: dawidd6/action-get-tag@v1
        id: tag
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Lint
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets --all-features
      - name: Formatting check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check -l
      - name: Documentation build
        uses: actions-rs/cargo@v1
        env:
          RUSTDOCFLAGS: -Dwarnings
        with:
          command: doc
          args: --all-features --no-deps --document-private-items
      - name: Debug check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all-targets --all-features
      - name: Debug build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-features
      - name: Tests with debug build
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features
      - name: Release check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all-targets --all-features --release
      - name: Release build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-features --release
      - name: Tests with release build
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features --release
      # - name: Strip + UPX release binary
      #   uses: svenstaro/upx-action@v2
      #   with:
      #     file: target/release/tvrank.exe
      #     strip: false
      - name: Build tarball
        shell: bash
        run: |
          export NAME=tvrank-${{steps.tag.outputs.tag}}-windows
          mkdir $NAME
          cp target/release/tvrank.exe $NAME/tvrank.exe
          cp target/debug/tvrank.exe $NAME/tvrank-debug.exe
          cp LICENSE $NAME/LICENSE
          cp README.md $NAME/README.md
          7z a $NAME.zip $NAME
      - name: Upload tarball artifact
        uses: actions/upload-artifact@v2
        with:
          name: tvrank-${{steps.tag.outputs.tag}}-windows.zip
          path: tvrank-${{steps.tag.outputs.tag}}-windows.zip

  create-release:
    needs: [linux-build, macos-build, windows-build]
    name: Create release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get tag name
        uses: dawidd6/action-get-tag@v1
        id: tag
      - name: Download Linux tarball
        uses: actions/download-artifact@v2
        with:
          name: tvrank-${{steps.tag.outputs.tag}}-linux.tar.bz2
      - name: Download MacOS tarball
        uses: actions/download-artifact@v2
        with:
          name: tvrank-${{steps.tag.outputs.tag}}-macos.dmg
      - name: Download Windows tarball
        uses: actions/download-artifact@v2
        with:
          name: tvrank-${{steps.tag.outputs.tag}}-windows.zip
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          tag_name: ${{steps.tag.outputs.tag}}
          release_name: tvrank-${{steps.tag.outputs.tag}}
          body_path: changelogs/${{steps.tag.outputs.tag}}.md
      - name: Upload Linux tarball
        # id: upload-release-asset-linux
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          upload_url: ${{steps.create_release.outputs.upload_url}}
          asset_path: tvrank-${{steps.tag.outputs.tag}}-linux.tar.bz2
          asset_name: tvrank-${{steps.tag.outputs.tag}}-linux.tar.bz2
          asset_content_type: application/x-bzip2
      - name: Upload MacOS tarball
        # id: upload-release-asset-macos
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          upload_url: ${{steps.create_release.outputs.upload_url}}
          asset_path: tvrank-${{steps.tag.outputs.tag}}-macos.dmg
          asset_name: tvrank-${{steps.tag.outputs.tag}}-macos.dmg
          asset_content_type: application/x-bzip2
      - name: Upload Windows tarball
        # id: upload-release-asset-macos
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          upload_url: ${{steps.create_release.outputs.upload_url}}
          asset_path: tvrank-${{steps.tag.outputs.tag}}-windows.zip
          asset_name: tvrank-${{steps.tag.outputs.tag}}-windows.zip
          asset_content_type: application/zip
...
